
.container{
    display: flex;
    align-items: center;
    background-color: bisque;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: fixed;
}
.innerContainer{
    display: flex;
    justify-self: center;
}
.text-field{
    flex-grow: 1;
}
.label{
    margin-bottom: 10px;
}